/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #fff;
    --blue-color: #4070f4;
    --grey-color: #707070;
    --grey-color-light: #aaa;
}

body {
    background-color: #f8f8f8;
    transition: all 0.5s ease;
}

body.dark {
    background-color: #333;
}

body.dark {
    --white-color: #333;
    --blue-color: #fff;
    --grey-color: #f2f2f2;
    --grey-color-light: #aaa;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    z-index: 1000;
    box-shadow: 0 0 2px var(--grey-color-light);
}

.logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 22px;
    font-weight: 500;
    color: var(--blue-color);
}

.navbar img {
    width: auto;
    height: 40px;
}

.profile {
    border-radius: 50%;
    width: 35px !important;
    height: 35px !important;
    object-fit: cover;
}

.search_bar {
    height: 47px;
    max-width: 430px;
    width: 100%;
}

.search_bar input {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    font-size: 18px;
    outline: none;
    background-color: var(--white-color);
    color: var(--grey-color);
    border: 1px solid var(--grey-color-light);
    padding: 0 20px;
}

.navbar_content {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.navbar_content i {
    cursor: pointer;
    font-size: 20px;
    color: var(--grey-color);
}

/* sidebar */
.sidebar {
    background-color: var(--white-color);
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 90px 20px 90px 10px;
    z-index: 100;
    overflow-y: scroll;
    box-shadow: 0 0 1px var(--grey-color-light);
    transition: all 0.5s ease;
}

.sidebar.close {
    padding: 60px 0;
    width: 80px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.menu_content {
    position: relative;
}

.menu_title {
    margin: 15px 0;
    padding: 0 20px;
    font-size: 18px;
}

.sidebar.close .menu_title {
    padding: 6px 30px;
}

.menu_title::before {
    color: var(--grey-color);
    white-space: nowrap;
}

.menu_dahsboard::before {
    content: "Dashboard";
}

.menu_editor::before {
    content: "Editor";
}

.menu_setting::before {
    content: "Setting";
}

.sidebar.close .menu_title::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 18px;
    border-radius: 12px;
    background: var(--grey-color-light);
}

.menu_items {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navlink_icon {
    position: relative;
    font-size: 22px;
    min-width: 50px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
}

.navlink_icon::before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc(100% + 100px);
    left: -20px;
}

.navlink_icon:hover {
    background: var(--blue-color);
}

.sidebar .nav_link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 4px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--grey-color);
    white-space: nowrap;
}

.sidebar.close .navlink {
    display: none;
}

.nav_link:hover {
    color: var(--white-color);
    background: var(--blue-color);
}

.sidebar.close .nav_link:hover {
    background: var(--white-color);
}

.submenu_item {
    cursor: pointer;
}

.submenu {
    display: none;
}

.submenu_item .arrow-left {
    position: absolute;
    right: 10px;
    display: inline-block;
    margin-right: auto;
}

.sidebar.close .submenu {
    display: none;
}

.show_submenu~.submenu {
    display: block;
}

.show_submenu .arrow-left {
    transform: rotate(90deg);
}

.submenu .sublink {
    padding: 15px 15px 15px 20px;
}

.bottom_content {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 260px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.bottom {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    justify-content: space-around;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    color: var(--grey-color);
    border-top: 1px solid var(--grey-color-light);
    background-color: var(--white-color);
}

.bottom i {
    font-size: 20px;
}

.bottom span {
    font-size: 18px;
}

.sidebar.close .bottom_content {
    width: 50px;
    left: 15px;
}

.sidebar.close .bottom span {
    display: none;
}

.sidebar.hoverable .collapse_sidebar {
    display: none;
}

#sidebarOpen {
    display: none;
}

@media screen and (max-width: 768px) {
    #sidebarOpen {
        font-size: 25px;
        display: block;
        margin-right: 10px;
        cursor: pointer;
        color: var(--grey-color);
    }

    .sidebar.close {
        left: -100%;
    }

    .search_bar {
        display: none;
    }

    .sidebar.close .bottom_content {
        left: -100%;
    }
}

/* User List */

.dashboard {
    width: calc(100% - 260px);
    height: auto;
    margin-top: 80px;
    margin-left: 260px;
    padding-bottom: 50px;
}

.page-heading {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

/* Top Toggle Buttons Section */

.detailed-report {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    overflow-x: auto;
    padding-left: 7px;
    gap: 1px;
}

.detailed-report-pill-btn label img {
    width: 25px;
    height: 25px;
}

.detailed-report-pill-btn input[type="radio"] {
    display: none;
}

.detailed-report-pill-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailed-report-pill-btn label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    outline: none;
    height: 40px;
    width: auto;
    border: none;
    text-decoration: none;
    background-image: linear-gradient(-145deg, #161623, #161623, #161623, #161623);
    transform: skew(-20deg);
}

.detailed-report-pill-btn label span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 32px;
    width: auto;
    background: #161623;
    margin: 0px 5px;
    padding: 0px 10px;
}

.detailed-report-pill-btn label span p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: auto;
    font-size: 16px;
    margin: 0px 5px;
    padding: 0px 1px;
    transform: skew(20deg);
    white-space: nowrap;
}

.detailed-report-pill-btn input:checked+label {
    background-image: linear-gradient(-145deg, #fff, #b7b325, #b7b325, #fff);
    transform: skew(-20deg);
}

.detailed-report-pill-btn input:checked+label span {
    background: #b7b325;
}

/* Main Box Section */

.main-box {
    width: 99%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.main-box-content {
    width: 20%;
    background-color: white;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-box-content h3 {
    font-size: 14px;
}

.main-box-content p {
    font-size: 12px;
}

.main-box-content i {
    font-size: 40px;
    margin-bottom: 10px;
}

.main-box-content .red-text {
    color: red;
}

.main-box-content .green-text {
    color: green;
}

#account-statement-table{
    display: none;
}

#bet-history-table{
    display: none;
}

#deposit-withdrawal-table{
    display: none;
}

/* Table */

.table {
    width: 98%;
    margin: 20px auto;
    overflow-x: auto;
}

#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #B6B326;
    color: white;
    white-space: nowrap;
}

#customers td input {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}

#customers .green-text{
    color: green;
}

#customers .red-text{
    color: red;
}

/* Responsive Code */

@media (max-width: 769px) {
    .dashboard {
        width: 100%;
        margin-left: 0px;
    }
    .main-box{
        flex-wrap: wrap;
        gap: 10px;
    }
    .main-box-content{
        width: 45%;
    }
    .main-box-content h3{
        text-align: center;
    }
}

/* Bet History Section Code */

/* User Search Card */

.user-search{
    width: 99%;
    height: auto;
    background-color: rgba(182, 179, 38, 0.10);
    border-radius: 15px;
    border: 2px solid #B6B326;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px;
}

.current-bet-history{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.past-bet-history{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    display: none;
}

.input-box{
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.input-box label{
    color: black;
    font-size: 18px;
}

.input-box input{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 0px 15px;
}

.input-box select{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 0px 15px;
    background-image: url("/images/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    appearance: none;
    -webkit-appearance: none;
}

.input-box span{
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute; 
    top: 50%px; 
    right: 12px;
}

.input-box input::placeholder{
    color: black;
    font-size: 15px;
}

.load-btn{
    width: 20%;
    padding: 10px;
    background-color: #b5b326;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    align-self: flex-end;
}

.reset-btn{
    width: 20%;
    padding: 10px;
    background-color: #333216;
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    align-self: flex-end;
}

/* Live Status Toggle Section */

.live-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-radius: 5px;
    gap: 10px;
}

.live-status-pill-btn label img {
    width: 20px;
    height: 20px;
}

.live-status-pill-btn input[type="radio"] {
    display: none;
}

.live-status-pill-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.live-status-pill-btn label {
    color: white;
    background-color: #161623;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

:checked+label {
    background: #B6B326;
    color: #fff;
}

@media (max-width:1200px) {
    .create-user-card{
        width: 45%;
    }
    .paginator{
        width: 95%;
    }
    .user-search{
        width: 95%;
    }
    .amount-status{
        font-size: 22px;
    }
}

@media (max-width:1024px){
    .transfer-card{
        width: 48%;
    }
}

@media (max-width:769px) {
    .create-user-card{
        width: 95%;
    }
    .create-user-image img{
        width: 50%;
    }
    .user-search{
        width: 95%;
        flex-direction: column;
    }
    .user-search2{
        width: 95%;
        flex-direction: column;
    }
    .paginator{
        padding: 0px 10px;
        width: 95%;
    }
    .paginator-right-section{
        width: 50%;
        gap: 7px;
    }
    .paginator-left-section{
        width: 50%;
        justify-content: flex-start;
        gap: 5px;
    }
    .paginator-left-section p{
        white-space: nowrap;
    }
    .paginator-right-section .wid-1{
        width: 10px;
        height: 15px;
    }
    .paginator-right-section .wid-2{
        width: 15px;
        height: 15px;
    }
    .transfer-card{
        width: 48%;
    }
    .load-btn{
        width: 100%;
    }
    .input-box{
        width: 100%;
    }
    .reward-table{
        width: 95%;
    }
    .reward-table table th{
        font-size: 15px;
    }
    .user-pdf-group{
        width: 100%;
    }
    .current-bet-history{
        flex-direction: column;
    }
    .past-bet-history{
        flex-direction: column;
    }
    .reset-btn{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .transfer-card{
        width: 95%;
        margin: auto;
    }
    .amount-status{
        font-size: 20px;
    }
}

/* Deposit Withdrawal Request Section */

.user-search2{
    width: 99%;
    height: auto;
    background-color: rgba(182, 179, 38, 0.10);
    border-radius: 15px;
    border: 2px solid #B6B326;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 15px 10px;
}

.transfer-card-section{
    width: 99%;
    margin: 10px auto;
}

.transfer-card{
    width: 30%;
}

.transfer-card-top{
    width: 100%;
    background-color: #b5b326;
    padding: 5px 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transfer-card-top p{
    font-size: 18px;
}

.transfer-card-bottom{
    width: 100%;
    background-color: #333216;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.transfer-card-bottom p{
    font-size: 15px;
}

.transfer-card-top-status{
    display: flex;
    align-items: center;
    gap: 10px;
}

.transfer-card-top-status img{
    width: 25px;
    height: 25px;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
}

.transfer-card-top-status p{
    background-color: #4cb543;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.amount-status{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width:1200px) {
    .amount-status{
        font-size: 22px;
    }
}

@media (max-width:1024px){
    .transfer-card{
        width: 48%;
    }
}

@media (max-width: 500px) {
    .transfer-card{
        width: 95%;
        margin: auto;
    }
    .amount-status{
        font-size: 20px;
    }
}