/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}
body {
  background-color: #f8f8f8;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #333;
}
body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue-color);
}
.navbar img {
  width: auto;
  height: 40px;
}
.profile{
  border-radius: 50%;
  width: 35px !important;
  height: 35px !important;
  object-fit: cover;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 90px 20px 90px 10px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dahsboard::before {
  content: "Dashboard";
}
.menu_editor::before {
  content: "Editor";
}
.menu_setting::before {
  content: "Setting";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--blue-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 4px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 20px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}

/* Dashboard */

.dashboard{
  width: calc(100% - 260px);
  height:auto;
  margin-top: 80px;
  margin-left: 260px;
  padding-bottom: 50px;
}

.page-heading{
  width: 100%;
  text-align: center;
  font-size: 30px;
}

/* Main Box */

.main-box{
  width: 99%;
  margin: auto;
  display: flex;
}

/* Match Details Section */

.match-details {
  height: auto;
  width: 74%;
  background-color: rgba(182, 179, 38, 0.10);
  display: block;
  margin: 52px auto 15px;
  border-radius: 0px 15px 15px 15px;
  border: 1px solid #b7b520;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.match-details .top-pill {
  width: 200px;
  position: absolute;
  top: -39.61px;
  left: -1px;
  height: 40px;
}

.league-name {
  position: absolute;
  top: -30px !important;
  left: 7px !important;
  display: flex;
  align-items: center;
  gap: 5px;
}

.league-name img {
  width: 35px;
}

.league-name p {
  color: black;
  font-size: 17px;
}

.match-game-details{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.match-game-details .para{
  color: white;
  background-color: #161623;
  width: 98%;
  text-align: center;
  padding: 10px 0px;
  font-size: 18px;
  border-radius: 10px;
}

/* Match Table */

.table{
  width: 98%;
  border-radius: 10px;
  overflow: hidden;
}

.table-head{
  width: 100%;
  background-color: #161623;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.table-top-left{
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 5px;
}

.table-top-left img{
  width: 20px;
  height: 20px;
}

.table-top-right{
  display: flex;
  white-space: nowrap;
  gap: 10px;
}

.table-body{
  width: 100%;
  background-color: #393838;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(132, 132, 132);
}

.table-body-left p{
  background-color: #393838;
  color: white;
  font-size: 18px;
}

.t-odds {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.t-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.blue {
  padding: 7px 0px;
  background-color: #4fa1dc !important;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.blue span{
  font-size: 12px;
}

.pink {
  padding: 7px 0px;
  background-color: #f994ba !important;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  font-size: 14px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.pink span{
  font-size: 12px;
}

/* Fancy Bar */

.fancy-bar{
  width: 98%;
  background-color: #161623;
  padding: 5px;
  border-radius: 10px;
}

.fancy-bar p{
  color: white;
  border-radius: 10px;
  font-size: 18px;
  background-color: #b7b520;
  width: 150px;
  padding: 10px;
  text-align: center;
}

/* Details */

details {
  font-size: 18px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 98%;
  border-radius: 8px;
  position: relative;
  color: white;
  background-color: #161623;
  display: none;
}
details .summary-title {
  font-size: 18px;
  color: #b7b520;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
details:hover {
  cursor: pointer;
}
details .summary-content {
  border-top: 1px solid #e2e8f0;
  cursor: default;
  padding: 1em;
  font-weight: 300;
  line-height: 1.5;
}
details summary {
  list-style: none;
  padding: 10px 10px;
}
details summary:focus {
  outline: none;
}
details summary:hover .summary-chevron-up svg {
  opacity: 1;
}
details .summary-chevron-up svg {
  opacity: 0.5;
}
details .summary-chevron-up,
details .summary-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 0.5em;
  right: 1em;
  background: #161623;
}
details .summary-chevron-up svg,
details .summary-chevron-down svg {
  display: block;
}
details summary::-webkit-details-marker {
  display: none;
}

/* Open Bets Section */

.open-bets{
  width: 24%;
  height: auto;
  border: 1px solid #b7b520;
  margin: 52px auto 15px;
  border-radius: 15px;
  background-color: rgba(182, 179, 38, 0.10);
  padding: 10px 0px;
}

.open-bets p{
  font-size: 18px;
  color: #b7b520;
  width: 98%;
  border-radius: 10px;
  background-color: #161623;
  padding: 10px;
  margin: auto;
}

.open-bets-toggle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.open-bets-toggle-btn label img {
  width: 20px;
  height: 20px;
}

.open-bets-toggle-btn input[type="radio"] {
  display: none;
}

.open-bets-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.open-bets-toggle-btn label {
  width: 100%;
  color: white;
  background-color: #161623;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
}

:checked+label {
  background: #B6B326;
  color: #fff;
}

@media (max-width:1000px) {
  .open-bets{
      display: none;
  }
  .match-details{
      width: 98%;
  }
  details{
      display: block;
  }
}

/* Responsive Code */

@media (max-width: 769px){
  .dashboard{
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .dashboard{
    width: 100%;
    margin-left: 0px;
  }
}